<app-lessor-sidebar>
  <div class="settings-page">

    <main class="settings-main">

      <section class="settings-grid">
        <app-business-branding></app-business-branding>
        <app-domain-website></app-domain-website>
        <app-api-key-generation></app-api-key-generation>
        <app-payment-methods></app-payment-methods>
        <app-general-preferences></app-general-preferences>
      </section>

      <button class="mobile-save-button" type="button" (click)="saveAllSettings()">
        Save Settings
      </button>
    </main>
  </div>
</app-lessor-sidebar>
